<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<ul class="nav nav-pills" style="background: rgb(39, 207, 39);">
  <h1 st>Travelia</h1>
  <li role="presentation"><a href="/menu/search">Search</a></li>
  <li role="presentation"><a href="/menu/history">History</a></li>
  <li role="presentation"><a href="/menu/logout" onclick="return confirm('Are you sure want to logout ?')">Logout</a></li>
</ul>
